name: Main Branch Workflow - Upload and Scan

on:
  push:
      branches: [ "main" ]

jobs:
  Package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Empacotamento dos arquivos
        uses: thedoctor0/zip-release@master
        with:
          filename: 'veracode.zip'
          path: .
      - name: Publicando Artefato
        uses: actions/upload-artifact@v4
        with:
          name: pacoteVeracode
          path: veracode.zip

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
    - name: Build with Maven
      run: mvn clean package
      
    - uses: actions/upload-artifact@v4
      with:
        name: verademo.war
        path: target/verademo.war
        
  Veracode_UploadAndScan:
      runs-on: ubuntu-latest
      needs: Package
      steps:
        - name: Download Artefato
          uses: actions/download-artifact@v4
          with:
            name: pacoteVeracode
        - name: UploadAndScan
          uses: veracode/veracode-uploadandscan-action@master # Faz a analise da Veracode
          env:
            AppName: Github Actions - ${{ github.repository }}
          with:
            vid: '${{secrets.VERACODE_API_ID }}'
            vkey: '${{secrets.VERACODE_API_KEY }}'
            criticality: 'VeryHigh'
            appname: '$AppName'
            createsandbox: true
            filepath: 'veracode.zip'
            version: ${{ github.run_id }}
